body{
    padding: 141px 53px;
    font-size: 22px;
}

h1 {
    font-weight: 100;
}
h4 {
    font-weight: 100;
}
.heading{
    display: inline-block;
    padding-left: 417px;
}

.search{
    display: inline-block;
    padding-left: 26%;
}
.dropdown{
    display: inline-block;
    padding-left: 36px;
}
#customer_detail{
    border-collapse: collapse;
    width: 96%;
    margin: 30px;
}

#customer_detail ,td ,th{
    border: 1px solid #000000;
    padding: 5px;
}

#customer_detail th{
    text-align: left;
}

#sort{
    padding-left: 6px;
}
#eye{
    color:#62B0F4;
    padding-left: 6px;
}

#pencil{
    color: #FFC436;
    padding-left: 6px;
}

#trash{
    color: #E55135;
    padding-left: 6px;
}

.search input[type=text]{
    padding: 2px;
    font-size: 17px;
    border: 3px solid #000000;
    float: left;
    width: 85%;
    
}

.bottom{
    display: inline-block;
    padding-left: 24px;
}

.pagination{
    display: inline-block;
    padding-left: 50%;
}
.pagination a[class=active]{
    background-color:rgb(57, 172, 218);
    border-radius: 50%;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    
}
.pagination .button{
    background-color: #EFEFEF;
    margin-left: 6px;
}
.pagination .digit{
    border-radius: 50%;
    background-color: #EFEFEF;
    margin-left: 6px;
}